.group-card-root {
  border: #e9e9ea solid 1px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.group-card-header {
  margin: 10px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.group-card-separator {
  height: 1px;
  background-color: #e9e9ea;
}

.group-card-content {
  overflow-y: auto;
  max-height: 400px;
  min-height: 300px;
  margin: 15px;
  font-size: 14px;
  color: #454545;
}

.group-card-footer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
}

.group-card-date {
  font-size: 13px;
  font-weight: 500;
  color: #2b2b2b;
}

.group-card-title {
  color: #272727;
}
